<h2>Generar Reporte de Estudiantes</h2>
<div id="reports">
  <!-- Aquí se mostrarán los reportes -->
  <div class="report">
    <h3>Estudiantes matriculados</h3>
    <button class="styled-button" (click)="generateReport()">Descargar Reporte de Alumnos</button>
  </div>
</div>
<h2>Generar Reporte FO-14</h2>
<div id="reports">
  <!-- Aquí se mostrarán los reportes -->
  <div class="report">
    <h3>Estudiantes matriculados</h3>
    <button class="styled-button" (click)="generarFormato14()" >Descargar Formato 14 </button>
  </div>
</div>
